{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
    <script>window.location.replace("/")</script>
    {% endif %}

    {{ user.username|json_script:'user_name' }}
    {{ available_docs|json_script:'available_docs'}}

    <div class="wrapper">
        <div class="chat-container">
            <div class="chat-history">
                {% for chat in chats %}
                    {% if chat.user == request.user %}
                    <script>
                        // createUserMessage("{{chat.message}}");
                        // createBotMessage("{{chat.response}}");
                    </script>
                    {% endif %}
                {% endfor %}
            </div>
            {% csrf_token %}
            <div class="chat-container-bottom">
                <div class="chat-input">
                    <input type="text" class="input-field" placeholder="Entrez votre question en lien avec les documents fournis..." />
                    <button class="send-button">OK</button>
                </div>
                <div class="disclaimer">
                    WattElse peut afficher des informations inexactes. Vérifiez ses réponses.
                </div>
            </div>
        </div>
        <div class="panel-container">
            <div class="tab" data-content="extracts">Extraits</div>
            <div class="tab active" data-content="documents">Documents</div>
            {% if can_upload_documents %}
                <div class="tab superuser-tab" data-content="upload">Ajouter</div>
            {% endif %}
            {% if can_remove_documents %}
                <div class="tab superuser-tab" data-content="remove">Supprimer</div>
            {% endif %}
            {% if can_add_users %}
                <div class="tab superuser-tab" data-content="add-users">Utilisateurs</div>
            {% endif %}
            
            <hr>

        <div class="content extracts">
            <h2>Extraits pertinents</h2>
            <ul id="extract-list"></ul>
        </div>

        <div class="content documents">
            <h2>Sélection des documents disponibles</h2>
            <div class="available-section">
                <div class="available-title"><div id="select-all">Tout / Rien</div></div>
                <div class="available-list"></div>
            </div>
        </div>

        <div class="content upload">
            <h2>Télécharger des documents</h2>
            <div class="header-section">
                <p>Téléchargez les fichiers à partager dans votre groupe</p>
                <p>Formats supportés: PDF, DOCX, PPTX, XLSX, CSV, HTML, MD, TXT</p>
            </div>
            <div class="drop-section">
                <div class="col">
                    <div class="cloud-icon">
                        <i class="fa-solid fa-cloud-arrow-up fa-2xl " style="color: var(--main-color);"></i>
                    </div>
                    <span>Glisser-déposer vos fichiers</span>
                    <span>OU</span>
                    <button class="file-selector">Sélectionner les fichiers</button>
                    <input type="file" class="file-selector-input" multiple>
                </div>
                <div class="col">
                    <div class="drop-here">Drop Here</div>
                </div>
            </div>
            <div class="uploaded-section">
                <div class="uploaded-title">Fichiers téléchargés</div>
                <div class="uploaded-list"></div>
            </div>
        </div>

        <div class="content remove">
            <h2>Supprimer des documents</h2>
            <div class="removal-section">
                <div class="removal-title">Fichiers à supprimer</div>
                <div class="removal-list"></div>
                <div class="trash-button" onclick="deleteDocumentsInCollection()">
                    <i class="fa-solid fa-trash-can fa-2xl"></i>
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'chatbot/chatbot_functions.js' %}"></script>
{% endblock %}
