{% extends 'base.html' %}

{% block title %}
Wattelse Chatbot
{% endblock %}

{% block styles %}
    {% load static %}
    <link href="{% static 'chatbot/chatbot_mainpage.css'%}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <script>window.location.replace("/")</script>
    {% endif %}

    {{ user.username|json_script:'user_name' }}
    {{ session_id|json_script:'session_id' }}
    {{ available_docs|json_script:'available_docs'}}

    <div class="chat-container">
        <header class="chat-header">
          <h1>WattElse Chatbot</h1>
        </header>
        <div class="chat-history">
            {% for chat in chats %}
                {% if chat.user == request.user %}
                <script>
                    //createUserMessage("{{chat.message}}");
                    //createBotMessage("{{chat.response}}");
                </script>
                {% endif %}
            {% endfor %}
        </div>
            {% csrf_token %}
            <div class="chat-input">
                <input type="text" class="input-field" placeholder="Entrez votre question en lien avec les documents fournis..." />
                <button class="send-button">OK</button>
            </div>
            <div class="disclaimer">
                WattElse peut afficher des informations inexactes. Vérifiez donc ses réponses.
            </div>
    </div>
    <div class="document-panel">
        <div class="tab" data-content="extracts">Extraits pertinents</div>
        <div class="tab active" data-content="documents">Documents sélectionnés</div>
        <div class="tab" data-content="upload">Télécharger documents</div>
        <div class="tab" data-content="remove">Supprimer documents</div>

        <div class="content documents">
            <h2>Sélection des documents disponibles</h2>
            <div class="document-selection">
                <input type="checkbox" id="select-all">Tout
            </div>
            <ul class="document-list"></ul>
        </div>
        <div class="content extracts">
            <h2>Extraits pertinents</h2>
            <ul id="extract-list"></ul>
        </div>
        <div class="content upload">
            <h2>Télécharger des documents</h2>
          <form id="upload-form">
            <div class="file-upload">
              <label for="file-input">Sélectionner des fichiers (formats: PDF, DOCX, PPTX, XLSX, MD, HTML)</label>
              <input type="file" id="file-input" name="files[]" multiple>
              <span id="file-list"></span>
            </div>
            <div class="descriptions">
              </div>
            <button type="submit" disabled><i class="fa-solid fa-upload"></i></button>
          </form>
        </div>
        <div class="content remove">
            <h2>Supprimer des documents</h2>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'chatbot/chatbot_functions.js' %}"></script>
{% endblock %}
