{% extends 'base.html' %}

{% block content %}

<div class="login-container">
    <!-- Title -->
    <h1 class="login-head">Connexion</h1>

    <!-- Print error message if form is not valid-->
    {% if error_message %}
        <div role="alert" class="error-text">{{ error_message }}</div>
    {% endif %}

    <!-- Login form -->
    <form method="post">
        {% csrf_token %}
        <label class="login-label" for="username">Nom d'utilisateur :</label>
        <input class="login-input" type="text" id="username" name="username" required>

        <label class="login-label" for="password">Mot de passe :</label>
        <input class="login-input" type="password" name="password" id="password" required>

        <button class="login-button" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
    </form>

    <!-- New user link -->
    <p class="new-user-message">Nouvel utilisateur ? <a href="/register" class="register-link">Créez un compte.</a></p>
</div>

{% endblock %}