{% extends 'new_base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}" />
{% endblock %} {% block content %}
<div class="accounts-container">
  <div class="form-container">
    <div class="form-container-title">Changer de mot de passe</div>
    <!-- Print error message if form is not valid-->
    {% if error_message %}
    <div class="form-error">{{ error_message }}</div>
    {% endif %}

    <!-- Change password form -->
    <form method="post">
      {% csrf_token %}
      <label class="form-label" for="password1">Nouveau mot de passe :</label>
      <input
        class="form-input"
        type="password"
        name="new_password1"
        id="new_password1"
        required
      />

      <label class="form-label" for="password2"
        >Confirmez le nouveau mot de passe :</label
      >
      <input
        class="form-input"
        type="password"
        name="new_password2"
        id="new_password2"
        required
      />

      <button class="form-button" type="submit">Ok</button>
    </form>

    <!-- New user link -->
    <p class="form-footnote">
      <u
        ><a href="{% url 'home:main_page' %}">Retour à la page d'accueil.</a></u
      >
    </p>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script type="module" src="{% static 'home/home.js' %}"></script>
{% endblock %}
